aiohttp
aiosignal
annotated-types
asgiref
async-timeout
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
fake-useragent
frozenlist
greenlet
html2text
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langsmith
lxml
multidict
numpy
orjson
packaging
pdfminer.six
pillow
pycparser
pydantic
pydantic_core
python-pptx
PyYAML
regex
requests
SQLAlchemy
sqlparse
tenacity
tiktoken
tqdm
typing_extensions
urllib3
XlsxWriter
yarl
pandas
matplotlib
python-dotenv
psycopg2-binary